@import "tailwindcss";

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}

.animate-shimmer {
  background: linear-gradient(90deg, #d1d5db 0%, #ececec 50%, #d1d5db 100%);
  background-size: 400px 100%;
  animation: shimmer 1.5s infinite;
}
